rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Reglas para la colección principal de eventos
    match /eventos/{eventoId} {
      // Cualquier usuario puede ver los eventos
      allow read: if true;
      
      // Solo usuarios autenticados (Admin) pueden crear, editar o borrar eventos
      allow write: if request.auth != null;

      // 🔑 Subcolección: SORTEOS
      match /sorteos/{idSorteo} {
        allow read, create, update: if request.auth != null;
      }

      // 🏆 Subcolección RESULTADOS
      match /resultados/{resultadoId} {
        // Lectura pública para mostrar clasificaciones en resultados evento
        allow read: if true;
        
        // Crear, actualizar o eliminar resultados solo Admin
        allow write: if request.auth != null;

        // 🖼️ Subcolección IMAGENES_CABECERA
        match /imagenes_cabecera/{imgId} {
          allow read: if true;
          allow write: if request.auth != null;
        }
      }

      // Subcolección: STOCK
      match /stock/{tallaId} {
        allow read: if true;
        allow update: if true;
        allow create, delete: if request.auth != null;
      }

      // Subcolección: PERSONAL (Voluntarios)
      match /personal/{personalId} {
        allow read, update, write: if request.auth != null;
      }

      // Subcolección: SOLICITUDES
      match /solicitudes/{solicitudId} {
        allow create: if true;
        allow update: if request.auth != null || resource.data.qrCode == null;
        allow read: if true;
        allow delete: if request.auth != null;
      }
    }

    // 🔓 REGLAS GLOBALES (Collection Group Queries): Lectura pública requerida
    match /{path=**}/solicitudes/{solicitudId} {
      allow read: if true;
    }

    // Permitir la búsqueda de resultados cuando no se especifica el ID del evento en la URL
    match /{path=**}/resultados/{resultadoId} {
      allow read: if true;
    }

    match /{path=**}/imagenes_cabecera/{imgId} {
      allow read: if true;
    }
  }
}